Automated video creation using Google Veo3 and n8n/Automated video creation using Google Veo3 and n8n workflow 2 - abridged.json
{
  "name": "Automated video creation using Google Veo3 and n8n workflow 2 - abridged",
  "nodes": [
    {
      "parameters": {},
      "id": "d790575f-b251-4431-b993-b5b23ac98ed8",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        304,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zcvMzk7R54-9BkmFMglwrlUGpXr_vNMCUyhyA_tDsmE",
          "mode": "list",
          "cachedResultName": "my video creator ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcvMzk7R54-9BkmFMglwrlUGpXr_vNMCUyhyA_tDsmE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zcvMzk7R54-9BkmFMglwrlUGpXr_vNMCUyhyA_tDsmE/edit#gid=0"
        },
        "options": {}
      },
      "id": "ebd26e9d-956e-49d5-9819-f560c443163f",
      "name": "📊 Fetch Ready Ideas from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        528,
        992
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7hQs2Lj2WxixIUQQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Idea: {{ $json.idea }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=SYSTEM PROMPT TO GENERATE PROMPT FOR VEO3\n\nThe key to crafting a strong prompt in Veo 3 is understanding what truly matters in a video. To ensure you include all the essential details, we recommend starting by breaking your prompt down into clear categories:\n\nScene description: Overall description of the scene you want to create — what’s happening, who’s involved, and the general atmosphere.\nVisual style: Defines the overall look and feel of the video — for example, cinematic, realistic, animated, stylized, or surreal.\nCamera movement: Describes how the camera should move during the scene — for instance, slow pan, static shot, tracking shot, or aerial zoom. Avoid using slang terms (eg ‘robo-arm’ or ‘lens crack’). Be clear and descriptive.\nMain subject: The primary person, character, or object that should be the focus of the video. Clearly describe who is doing what in the scene.\nBackground setting: The specific location or environment where the scene takes place — such as a city street at night, a forest during sunrise, or a futuristic lab., traditional village, etc.\nLighting/mood: Describes the type of lighting and the emotional tone you want — for example, soft natural light with a warm tone, or harsh lighting for a dramatic or tense mood.\nAudio cue (optional): Any specific sound or music that should be heard during the scene — such as a song starting when the character dances, or ambient sounds like rain, footsteps, or birdsong.\nColor palette: The dominant colors or tones used in the video — such as bold and bright, pastel, muted earth tones, or monochrome. This influences the emotional and visual impact.\nDialog / Background Noise (optional): If characters are speaking, specify exactly what they should say and when. You can also include environmental sounds like crowds, wind, or traffic.\nSubtitles and Language : Clearly state whether you want subtitles included or not (e.g., “Do not include subtitles” or “Include subtitles in English”). Note that mentioning a language can influence cultural context (clothing, signs, architecture) even if no spoken language is rendered. To imply language or culture, you can write things like: dialogue in Spanish, with English subtitles, on-screen text in Japanese, Arabic calligraphy visible on walls, Korean street signs in the background, etc.\nAdditional Planning Notes\nUsing ” or ” or ( ) or [ ] for the dialogue may generate subtitles – avoid these if you don’t want them.\nUse natural language\nUse long prompts. The more information and direction you can give, the better your output.\nUse a solid prompting structure, like the one outlined above.\nWriting Your Prompt\nOnce you’ve outlined the key information you want to include using the above structure (or something similar), you need to write your prompt. You can write this prompt yourself, or use a tool like Chat GPT to transform your dot point plan into a fully fledged prompt.\n\nCheck out the examples below to see how your prompt should look before hitting ‘Generate’!\n\nExample\nPrompt Plan:\n\nScene description: A glamorous woman with an afro hairstyle and gold jewellery shares a pool at night with a calm alligator, surrounded by dimly lit classical decor and blue ceramic vases.\nVisual style: Cinematic\nCamera movement: Slow zoom-in on the woman’s face from water level\nMain subject: Elegant woman in the pool next to an alligator, making intense eye contact with the camera\nBackground setting: Luxurious outdoor pool area with classical statues and large ceramic vases\nLighting/mood: Moody and soft, with candlelight reflections and subtle fill light on the face\nAudio cue: Slow ambient electronic music with occasional water ripple sounds\nColor palette: Deep slate gray, ocean blue, and warm gold tones\nDialog: “I’m not afraid of anything… except Sundays without drama.\nSubtitles: Off\nComplete Prompt:\n\nA cinematic scene set at night: a glamorous woman with an afro hairstyle and gold jewellery shares a luxurious outdoor pool with a calm alligator. The pool area is surrounded by classical statues and large blue ceramic vases, all dimly lit. The camera starts at water level and slowly zooms in on the woman’s face as she makes intense eye contact with the camera. The lighting is moody and soft, with candlelight reflections on the water and a subtle fill light on her face. The audio features slow ambient electronic music, with occasional water ripple sounds. The color palette includes deep slate gray, ocean blue, and warm gold tones. The woman says, “I’m not afraid of anything… except Sundays without drama.” No subtitles.\n\n\nNote:\n- At the end just provide me single prompt which contain every details just like \"Complete Prompt above\"\n- Make sure no double qoute is there in the response"
        }
      },
      "id": "d47052aa-2bd9-4273-99f0-2d3b8cb593f9",
      "name": "🤖 VEO3 Prompt Generator (GPT-4.1)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        896,
        976
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "45c5196e-37ad-4db2-aa2f-50b79d7d4db2",
      "name": "🧠 OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        144,
        1344
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ReBbz3Dj85A9IIOr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"prompt\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "id": "fb2f6780-f6b4-43fb-93f3-199c33bbdc92",
      "name": "📝 Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        144,
        1136
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}/status",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Key 745bf2fd-d7ae-42b5-b1f4-12bf60fe861f:07e7d935114ef22549212e7bdf823da9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "afa88152-0a60-4fb7-b765-7f737df81636",
      "name": "🔍 Check Video Generation Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1648,
        832
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "571d2dfe-8a0c-416a-8780-3f47b17286b3",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "93fda276-8061-4a20-a302-0aecc929a2ec",
      "name": "✅ Is Video Generation Complete?",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        688
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "c5803650-1462-41e2-bbf2-2b9f1a26bf98",
      "name": "⏰ Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "position": [
        1424,
        688
      ],
      "webhookId": "0f17aa86-f5f6-424c-b302-91bc70001367",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/veo3/requests/{{ $json.request_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 745bf2fd-d7ae-42b5-b1f4-12bf60fe861f:07e7d935114ef22549212e7bdf823da9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "2ebccd28-fba3-4bb0-9e1a-386e4b71fd05",
      "name": "📥 Download Generated Video",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1424,
        496
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1VHJFdJjqKWT973NK4TVTdzodAiHM4Zzb4tIkK-kqqGc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VHJFdJjqKWT973NK4TVTdzodAiHM4Zzb4tIkK-kqqGc/edit?usp=drivesdk",
          "cachedResultName": "VEO3 Video Generation"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VHJFdJjqKWT973NK4TVTdzodAiHM4Zzb4tIkK-kqqGc/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Status": "completed",
            "Video URL": "={{ $json.video.url }}",
            "row_number": "={{ $('📊 Fetch Ready Ideas from Sheet').item.json.row_number }}"
          },
          "schema": [
            {
              "id": "Idea",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Idea",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Status",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Video URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "row_number",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "row_number"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3ab5da68-d834-41f9-aef3-9de8fa81b0b9",
      "name": "📊 Update Sheet with Video URL",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1648,
        496
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7hQs2Lj2WxixIUQQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3/fast",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Key 745bf2fd-d7ae-42b5-b1f4-12bf60fe861f:07e7d935114ef22549212e7bdf823da9"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json.output.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "faa81773-04d4-488a-bbac-d18123b30a90",
      "name": "🎬 Create Video with Fal AI Veo3 (Fast)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        976
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Wait Before Retry": {
      "main": [
        [
          {
            "node": "🔍 Check Video Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 VEO3 Prompt Generator (GPT-4.1)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "📝 Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "🤖 VEO3 Prompt Generator (GPT-4.1)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "📥 Download Generated Video": {
      "main": [
        [
          {
            "node": "📊 Update Sheet with Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Is Video Generation Complete?": {
      "main": [
        [
          {
            "node": "📥 Download Generated Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⏰ Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Fetch Ready Ideas from Sheet": {
      "main": [
        [
          {
            "node": "🤖 VEO3 Prompt Generator (GPT-4.1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Check Video Generation Status": {
      "main": [
        [
          {
            "node": "✅ Is Video Generation Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "📊 Fetch Ready Ideas from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 VEO3 Prompt Generator (GPT-4.1)": {
      "main": [
        [
          {
            "node": "🎬 Create Video with Fal AI Veo3 (Fast)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎬 Create Video with Fal AI Veo3 (Fast)1": {
      "main": [
        [
          {
            "node": "🔍 Check Video Generation Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f3996738-186a-4b69-a559-d3fa08bab2d5",
  "meta": {
    "templateId": "4877",
    "instanceId": "115e390902a9688868052192407aa9ae130fbf662385cd2ab51971daa45a5014"
  },
  "id": "b10TrnayMPeC3vzx",
  "tags": []
}